    @import url(https://fonts.googleapis.com/css?family=Varela+Round);
    @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
    *,
    *::after,
    *::before {
        box-sizing: border-box;
    }
    
    html,
    body {
        height: 100%;
    }
    
    body {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        line-height: 1.5em;
    }
    
    a {
        color: #66cc99;
        text-decoration: none;
    }
    
    .clearfix::after,
    .clearfix::before {
        content: " ";
        display: table;
    }
    
    .clearfix::after {
        clear: both;
    }
    
    .bold {
        color: #4a4e51;
        font-weight: 400;
    }
    
    .profile-wrapper {
        position: relative;
        text-align: center;
        height: 100%;
    }
    
    .container {
        min-height: 600px;
    }
    
    .profile {
        background: #fff;
        width: 40%;
        float: left;
        /*color: #9099a0;*/
        color: black;
    }
    
    @media (max-width: 850px) {
        .profile {
            width: 100%;
        }
    }
    
    .profile .name-wrapper {
        float: left;
        width: 60%;
    }
    
    .profile h1 {
        font-size: 2.5em;
        text-align: left;
        font-family: 'Varela Round', sans-serif;
        color: #4a4e51;
        text-transform: uppercase;
        line-height: 1em;
        padding-top: 40px;
    }
    
    @media (max-width: 1200px) {
        .profile h1 {
            padding-top: 20px;
        }
    }
    
    @media (max-width: 450px) {
        .profile h1 {
            font-size: 1.8em;
            padding-top: 20px;
        }
    }
    
    .profile li {
        margin-bottom: 10px;
    }
    
    .profile .picture-profile-wrapper {
        width: 40%;
        display: block;
        float: left;
    }
    
    @media (max-width: 1200px) {
        .profile .picture-profile-wrapper {
            width: 100%;
        }
    }
    
    .profile .picture-profile {
        width: 220px;
        height: 220px;
        background-size: cover;
        border-radius: 50%;
        margin-right: 0px;
        display: table;
        position: relative;
        vertical-align: middle;
    }
    
    .profile .picture-profile span {
        display: table-cell;
        vertical-align: middle;
        position: relative;
        margin: 0 auto;
        z-index: 10;
        text-align: center;
    }
    
    .profile .picture-profile img {
        border-radius: 50%;
        width: 130px;
    }
    
    @media (max-width: 1500px) {
        .profile .picture-profile img {
            width: 80px;
        }
    }
    
    @media (max-width: 1200px) {
        .profile .picture-profile img {
            width: 120px;
            height: 120px;
        }
    }
    
    @media (max-width: 1500px) {
        .profile .picture-profile {
            width: 150px;
            height: 150px;
        }
    }
    
    @media (max-width: 1200px) {
        .profile .picture-profile {
            width: 200px;
            height: 200px;
        }
    }
    
    @media (max-width: 450px) {
        .profile .picture-profile {
            width: 180px;
            height: 180px;
        }
    }
    
    .profile .contact-info {
        margin-top: 100px;
        font-weight: 300;
    }
    
    @media (max-width: 1200px) {
        .profile .contact-info {
            margin-top: 70px;
        }
    }
    
    @media (max-width: 450px) {
        .profile .contact-info {
            margin-top: 50px;
        }
    }
    
    .profile .list-titles {
        float: left;
        text-align: left;
        font-weight: 600;
        width: 40%;
        color: #4a4e51;
    }
    
    .profile .list-content {
        float: left;
        width: 60%;
        text-align: left;
        font-weight: 300;
    }
    
    .profile .contact-presentation {
        text-align: left;
        font-weight: 300;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    
    @media (max-width: 1200px) {
        .profile .contact-presentation {
            margin-top: 70px;
            margin-bottom: 70px;
        }
    }
    
    @media (max-width: 850px) {
        .profile .contact-presentation {
            margin-top: 50px;
            margin-bottom: 50px;
        }
    }
    
    .profile svg {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .profile .st0,
    .profile .st1 {
        fill: #1D3354;
    }
    
    .experience {
        background: #1D3354;
        width: 60%;
        float: left;
        position: relative;
        color: #9099a0;
        font-weight: 300;
        min-height: 100%;
        min-height: 100vh;
    }
    
    @media (max-width: 850px) {
        .experience {
            width: 100%;
        }
    }
    
    .experience h3.experience-title {
        color: #66cc99;
        text-align: left;
        text-transform: uppercase;
        font-size: 1.2em;
        margin-bottom: 20px;
        font-weight: 400;
    }
    
    .experience .company-wrapper {
        width: 30%;
        float: left;
        text-align: left;
        padding-right: 5%;
        margin-bottom: 60px;
    }
    
    @media (max-width: 450px) {
        .experience .company-wrapper {
            width: 100%;
            margin-bottom: 20px;
        }
    }
    
    .experience .job-wrapper {
        width: 70%;
        float: left;
        text-align: left;
        padding-right: 5%;
        margin-bottom: 60px;
    }
    
    @media (max-width: 450px) {
        .experience .job-wrapper {
            width: 100%;
            margin-bottom: 40px;
        }
    }
    
    .experience .experience-title {
        color: white;
        margin-bottom: 15px;
    }
    
    .section-padding {
        padding: 60px 60px 40px 40px;
    }
    
    @media (max-width: 850px) {
        .section-padding {
            padding: 80px 15% 40px 10%;
        }
    }
    
    @media (max-width: 450px) {
        .section-padding {
            padding: 40px 10% 20px 5%;
        }
    }
    
    .section-wrapper {
        width: 50%;
        float: left;
        text-align: left;
        color: #9099a0;
        font-weight: 300;
        margin-bottom: 20px;
    }
    
    @media (max-width: 450px) {
        .section-wrapper {
            width: 100%;
        }
    }
    
    .section-wrapper:nth-child(3) {
        padding-right: 8%;
    }
    
    .section-wrapper h3.section-title {
        color: #66cc99;
        text-align: left;
        text-transform: uppercase;
        font-size: 1.2em;
        margin-bottom: 20px;
        font-weight: 400;
    }
    
    .section-wrapper .skill-percentage {
        margin-bottom: 10px;
        position: relative;
    }
    
    .section-wrapper .skill-percentage::after {
        content: "";
        width: 100%;
        height: 6px;
        background: #4a4e51;
        display: block;
        margin-top: 3px;
    }
    
    .section-wrapper .skill-percentage::before {
        content: "";
        height: 6px;
        background: #66cc99;
        position: absolute;
        margin-top: 3px;
        bottom: 0;
    }
    
    .section-wrapper .skill-percentage:nth-child(1)::before {
        width: 80%;
        -webkit-animation: skill_1 0.6s ease;
        animation: skill_1 0.6s ease;
    }
    
    .section-wrapper .skill-percentage:nth-child(2)::before {
        width: 90%;
        -webkit-animation: skill_2 0.6s ease;
        animation: skill_2 0.6s ease;
    }
    
    .section-wrapper .skill-percentage:nth-child(3)::before {
        width: 50%;
        -webkit-animation: skill_3 0.6s ease;
        animation: skill_3 0.6s ease;
    }
    
    .section-wrapper .skill-percentage:nth-child(4)::before {
        width: 60%;
        -webkit-animation: skill_4 0.6s ease;
        animation: skill_4 0.6s ease;
    }
    
    .section-wrapper .skill-percentage:nth-child(5)::before {
        width: 70%;
        -webkit-animation: skill_5 0.6s ease;
        animation: skill_5 0.6s ease;
    }
    
    .section-wrapper .skill-percentage:nth-child(6)::before {
        width: 70%;
        -webkit-animation: skill_6 0.6s ease;
        animation: skill_6 0.6s ease;
    }
    
    .section-wrapper .skill-percentage:nth-child(7)::before {
        width: 70%;
        -webkit-animation: skill_6 0.6s ease;
        animation: skill_6 0.6s ease;
    }
    
    @-webkit-keyframes skill_1 {
        from {
            width: 0%;
        }
        to {
            width: 80%;
        }
    }
    
    @keyframes skill_1 {
        from {
            width: 0%;
        }
        to {
            width: 80%;
        }
    }
    
    @-webkit-keyframes skill_2 {
        from {
            width: 0%;
        }
        to {
            width: 90%;
        }
    }
    
    @keyframes skill_2 {
        from {
            width: 0%;
        }
        to {
            width: 90%;
        }
    }
    
    @-webkit-keyframes skill_3 {
        from {
            width: 0%;
        }
        to {
            width: 50%;
        }
    }
    
    @keyframes skill_3 {
        from {
            width: 0%;
        }
        to {
            width: 50%;
        }
    }
    
    @-webkit-keyframes skill_4 {
        from {
            width: 0%;
        }
        to {
            width: 60%;
        }
    }
    
    @keyframes skill_4 {
        from {
            width: 0%;
        }
        to {
            width: 60%;
        }
    }
    
    @-webkit-keyframes skill_5 {
        from {
            width: 0%;
        }
        to {
            width: 70%;
        }
    }
    
    @keyframes skill_5 {
        from {
            width: 0%;
        }
        to {
            width: 70%;
        }
    }
    
    @-webkit-keyframes skill_6 {
        from {
            width: 0%;
        }
        to {
            width: 70%;
        }
    }
    
    @keyframes skill_6 {
        from {
            width: 0%;
        }
        to {
            width: 70%;
        }
    }
    
    @-webkit-keyframes skill_7 {
        from {
            width: 0%;
        }
        to {
            width: 70%;
        }
    }
    
    @keyframes skill_7 {
        from {
            width: 0%;
        }
        to {
            width: 70%;
        }
    }
    /*button*/
    
    @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
    
    html,
    body {
        display: grid;
        height: 100%;
        place-items: center;
        background: #0d0d0d;
    }
    
    button {
        position: relative;
        height: 35px;
        left: -92px;
        width: 100px;
        margin: 0 2px;
        font-size: 18px;
        font-weight: 400;
        border-radius: 5px;
        text-transform: uppercase;
        border: 1px solid transparent;
        outline: none;
        cursor: pointer;
        background: #0d0d0d;
        overflow: hidden;
        transition: 0.6s;
    }
    
    button:first-child {
        color: #206592;
        border-color: #206592;
    }
    
    button:last-child {
        color: #ce5c0c;
        border-color: #ce5c0c;
    }
    
    button:before,
    button:after {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        height: 100%;
        filter: blur(30px);
        opacity: 0.4;
        transition: 0.6s;
    }
    
    button:before {
        width: 60px;
        background: rgba(255, 255, 255, 0.6);
        transform: translateX(-130px) skewX(-45deg);
    }
    
    button:after {
        width: 30px;
        background: rgba(255, 255, 255, 0.6);
        transform: translateX(-130px) skewX(-45deg);
    }
    
    button:hover:before,
    button:hover:after {
        opacity: 0.6;
        transform: translateX(320px) skewX(-45deg);
    }
    
    button:hover {
        color: #f2f2f2;
    }
    
    button:hover:first-child {
        background: #206592;
    }
    
    button:hover:last-child {
        background: #ce5c0c;
    }
    
    @media (max-width: 850px) {
        button {
            position: relative;
            left: -6px;
            font-size: 14px;
            font-weight: 540;
            width: 90px;
            height: 40px;
        }
    }
    /**Project Section*/
    
    .project {
        position: relative;
        left: -391px;
    }
    
    .pp {
        position: relative;
        left: -83px;
        color: #66cc99;
        text-transform: uppercase;
        font-size: 1.2em;
        margin-bottom: 20px;
        font-weight: 400;
    }
    /* Feed */
    
    .feed {
        margin: 0 20px;
        flex: 0.6;
    }
    
    .feed__inputContainer {
        background-color: white;
        padding: 10px;
        position: relative;
        left: -20px;
        padding-bottom: 20px;
        border-radius: 10px;
        margin-bottom: 20px;
    }
    
    .feed__input {
        border: 1px solid lightgray;
        border-radius: 30px;
        display: flex;
        padding: 10px;
        color: gray;
        padding-left: 15px;
    }
    
    .feed__input>form {
        display: flex;
        width: 100%;
    }
    
    .feed__input>form>input {
        border: none;
        flex: 1;
        margin-left: 10px;
        outline-width: 0;
        font-weight: 600;
    }
    
    .feed__input>form>button {
        display: none;
    }
    
    .feed__inputOptions {
        display: flex;
        justify-content: space-evenly;
    }
    
    .inputOption {
        display: flex;
        align-items: center;
        margin-top: 15px;
        color: gray;
        padding: 10px;
        cursor: pointer;
    }
    
    .inputOption:hover {
        background-color: whitesmoke;
        border-radius: 10px;
    }
    
    .inputOption>h4 {
        margin-left: 5px;
    }
    
    @media (max-width: 850px) {
        .feed__inputContainer {
            height: 130px;
            left: -30px;
            width: 355px;
            position: relative;
            border-radius: 10px;
        }
        .feed__input>form>input {
            border: none;
            flex: 1;
            margin-left: 10px;
            position: relative;
            outline-width: 0;
            font-weight: 600;
        }
        .text {
            font-size: 12px;
        }
        .inputOption {
            size: 10px;
            position: relative;
        }
        .feed__input {
            border: 1px solid lightgray;
            border-radius: 30px;
            display: flex;
            position: relative;
            padding: 10px;
            width: 320px;
            color: rgb(7, 7, 7);
            padding-left: 15px;
        }
    }