@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

section {
    padding: 100px 200px;
}


/*main*/

.main {
    position: relative;
    width: 100%;
    min-height: 60vh;
    display: flex;
    align-items: center;
    background: #1D3354;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main .content {
    max-width: 800px;
}

.main .content h2 {
    color: #fff;
    top: 60px;
    font-size: 2em;
    font-weight: 250;
}

.main .content h2 span {
    font-size: 2.4em;
    font-weight: 250;
}

.animated-text {
    position: relative;
    height: 70px;
    overflow: hidden;
}

.animated-text h3 {
    color: #4e9eff;
    font-size: 3em;
    line-height: 70px;
    font-weight: 300;
    letter-spacing: 1px;
}

.animated-text h3:nth-child(1) {
    animation: text-move 10s infinite;
}

@keyframes text-move {
    0% {
        margin-top: 0;
    }
    25% {
        margin-top: -70px;
    }
    50% {
        margin-top: -140px;
    }
    75% {
        margin-top: -70px;
    }
    100% {
        margin-top: 0;
    }
}

@media (max-width:1000px) {
    .main .content h2 {
        color: #fff;
        position: relative;
        top: 0px;
        right: 170px;
        font-size: 1.6em;
        font-weight: 250;
    }
    .main .content h1 {
        font-size: 35px;
        color: white;
        position: relative;
        right: 170px;
        top: -14px;
        font-weight: 300;
    }
    .animated-text {
        position: relative;
        height: 70px;
        font-size: 14px;
        right: 170px;
        overflow: hidden;
    }
}


/*about*/

.about {
    background: #1D3354;
}

.col-text {
    height: 20em;
}

.grid-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    flex-direction: row;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: space-around;
}

.col {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.col-left {
    -webkit-box-ordinal-group: -1;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
}

.col-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Aligner-item {
    width: 60%;
}

.col-image {
    background-size: cover;
    background-position: center center;
}

@media (max-width: 640px) {
    .grid-flex {
        height: 40em;
        display: -webkit-flex;
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    .col {
        order: vertical;
    }
    .col-left {
        -webkit-box-ordinal-group: 0;
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
    }
    .col-text div p {
        padding: 1em;
    }
    .Aligner-item {
        width: 90%;
    }
    .about .grid-flex h2 {
        font-size: 29px;
        text-align: center;
        color: white;
        position: relative;
        right: 170px;
        top: 240px;
    }
    .about .grid-flex .col-image {
        background-image: url(sm.png);
        background-size: 90% 100%;
        background-repeat: no-repeat;
        position: relative;
        right: 100px;
        top: 140px;
        height: 350px;
    }
}


/*all about*/

.right {
    float: right;
    width: 350px;
    height: 350px;
    top: 5px;
}

.left {
    float: left;
    width: 450px;
    height: 350px;
    top: 5px;
}


/*how we work*/

.box1 {
    margin: 0;
    padding: 0;
    min-height: 65vh;
    background: #18293f;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    font-family: poppins;
}

.wrapper {
    width: 1170px;
    margin: auto;
}

.wrapper h2 {
    text-transform: uppercase;
    font-family: poppins;
    font-weight: bold;
    text-align: center;
    font-size: 60px;
    color: #fff;
    margin: 0;
}

.single-service {
    position: relative;
    width: 31%;
    height: 320px;
    background: #fff;
    box-sizing: border-box;
    padding: 0 15px;
    transition: .5s;
    overflow: hidden;
    float: left;
    margin: 0 10px;
    text-align: center;
}

.line {
    width: 150px;
    position: relative;
    top: 30px;
    height: 3px;
    background: #fff;
    margin: 0 auto 60px auto;
}

.single-service p {
    color: #262626;
    font-size: 14px;
}

.single-service h3 {
    font-size: 25px;
    text-transform: uppercase;
    font-family: poppins;
    letter-spacing: 1px;
    color: #1D3354;
}

.social1 {
    width: 60px;
    height: 60px;
    color: white;
    font-size: 30px;
    background: #262626;
    border-radius: 50%;
    margin: 5% auto;
}

.social i {
    font-size: 30px;
    padding: 15px;
    color: #fff;
}

.single-service:hover {
    box-shadow: 0 30px 35px rgba(0, 0, 0, 0.7);
}

.single-service span {
    position: absolute;
    top: 0;
    left: -110%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    transition: .7s;
    transform: skewX(10deg);
}

.single-service:hover span {
    left: 110%;
}

@media (max-width:1000px) {
    .wrapper {
        width: 100%;
    }
    .single-service {
        width: 95%;
        margin-bottom: 30px;
    }
    .wrapper h2 {
        font-size: 30px;
    }
}


/*---mission--*/

.mission {
    background: #18293f;
}

.col-text {
    height: 20em;
}

.grid-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    flex-direction: row;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: space-around;
}

.col {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.col-left {
    -webkit-box-ordinal-group: -1;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
}

.col-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Aligner-item {
    width: 60%;
}

.col-image {
    background-size: cover;
    background-position: center center;
}

@media (max-width: 1000px) {
    .mission.content-title {
        width: 100%;
    }
    .col-image {
        background-size: cover;
        background-position: center center;
    }
    .grid-flex {
        height: 40em;
        display: -webkit-flex;
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    .col {
        order: vertical;
    }
    .col-left {
        -webkit-box-ordinal-group: 0;
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
    }
    .col-text div p {
        padding: 1em;
    }
    .Aligner-item {
        width: 90%;
    }
}


/*vision*/

.vision {
    background: #18293f
}

.col-text {
    height: 20em;
}

.grid-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    flex-direction: row;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: space-around;
}

.col {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.col-left {
    -webkit-box-ordinal-group: -1;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
}

.col-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Aligner-item {
    width: 60%;
}

.col-image {
    background-size: cover;
    background-position: center center;
}

@media (max-width: 640px) {
    .grid-flex {
        height: 40em;
        display: -webkit-flex;
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    .col {
        order: vertical;
    }
    .col-left {
        -webkit-box-ordinal-group: 0;
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
    }
    .col-text div p {
        padding: 1em;
    }
    .Aligner-item {
        width: 90%;
    }
}


/*-- Team --*/

.team-section {
    font-family: sans-serif;
    line-height: 1.5;
}

*,
 ::before,
 ::after {
    box-sizing: border-box;
    margin: 0;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

.section-title {
    padding: 0 15px;
    width: 100%;
    text-align: center;
    margin-bottom: 60px
}

.section-title h2 {
    color: #ffffff;
    font-size: 40px;
    text-transform: capitalize;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}


/*team-section*/

.team-section {
    min-height: 50vh;
    background-color: #19222e;
    padding: 80px 0;
}

.team-section .card {
    width: calc((100% / 7) - 30px);
    margin: 0 15px 100px;
    background: #19222e;
    border: #19222e;
    padding: 30px 0 0;
    position: relative;
}

.team-section .card-img {
    width: 150px;
    height: 150px;
    margin: auto;
    border-radius: 50%;
    transition: box-shadow 0.3s ease;
    border: 5px solid transparent;
}

.team-section .card:hover .card-img {
    box-shadow: 0 0 10px #9ED8D8;
}

.team-section .card-img img {
    border-radius: 50%;
}

.team-section .card-info {
    background-color: #9ED8D8;
    padding: 20px 15px;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 190%;
    visibility: hidden;
    opacity: 0;
}

.team-section .card:hover .card-info {
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease;
}

.team-section .card-info::before {
    content: '';
    position: absolute;
    left: calc(50% - 20px);
    top: 100%;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #1D3354;
}

.team-section .card-info h3 {
    font-size: 24px;
    text-transform: capitalize;
    color: #000000;
}

.team-section .card-info p {
    font-size: 16px;
    color: #666666;
    margin: 0 0 10px;
}

.team-section .card-info .social-icons a {
    display: inline-block;
    margin: 3px;
    padding: 5px;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.team-section .card-info .social-icons a:hover {
    box-shadow: 0 0 10px #1D3354;
}

.team-section .card-info .social-icons img {
    width: 25px;
}


/*responsive*/

@media(max-width: 991px) {
    .team-section .card {
        width: calc(50% - 30px);
        background-color: #ffffff;
        padding: 0 15px;
    }
    .team-section .card-info {
        position: relative;
        visibility: visible;
        opacity: 1;
        bottom: auto;
        left: auto;
    }
    .team-section .card-img {
        margin: 30px auto 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    .team-section .card:hover .card-img {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    .team-section .card-info::before {
        content: none;
    }
    .team-section .card-info {
        padding: 20px 0 30px;
        width: 100%;
    }
}

@media(max-width: 574px) {
    .team-section .card {
        width: calc(100% - 30px);
    }
}


/*footer*/

.footer-dark {
    padding: 50px 0;
    color: #f0f9ff;
    background-color: #1a1a1a;
}

.footer-dark h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 20px;
}

.footer-dark ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 18px;
    margin-bottom: 0;
}

.footer-dark ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.6;
}

.footer-dark ul a:hover {
    opacity: 0.8;
}

.social i {
    font-size: 30px;
    padding: 1px;
    color: rgb(245, 247, 247);
}

.social {
    width: 60px;
    height: 60px;
    background: transparent;
    border-radius: 50%;
    margin: 5% auto;
}

@media (max-width:767px) {
    .footer-dark .item:not(.social) {
        text-align: center;
        padding-bottom: 20px;
    }
}

.footer-dark .item.text {
    margin-bottom: 36px;
}

@media (max-width:767px) {
    .footer-dark .item.text {
        margin-bottom: 0;
    }
}

.footer-dark .item.text p {
    opacity: 0.6;
    margin-bottom: 0;
}

.footer-dark .item.social {
    text-align: center;
}

@media (max-width:991px) {
    .footer-dark .item.social {
        text-align: center;
        margin-top: 20px;
    }
}

.footer-dark .item.social>a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
    margin: 0 8px;
    color: #fff;
    opacity: 0.75;
}

.footer-dark .item.social>a:hover {
    opacity: 0.9;
}

.footer-dark .copyright {
    text-align: center;
    padding-top: 24px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
}